version: '3.8'

services:
  epub-bot:
    image: jp0id/epub_bot:latest
    container_name: epub-bot
    restart: always
    ports:
      - "18088:18088"
    environment:
      - TELEGRAM_BOT_TOKEN=你的Token
      - TELEGRAM_BOT_USERNAME=你的BotName
      - APP_CHARS_PER_PAGE=4000
      - TELEGRAM_BOT_ADMINS=201728830,201728830
      - TELEGRAM_BOT_BASE=https://api.telegram.org
      - TELEGRAM_BOT_WEBAPP_URL=https://xxx.xx.com
    volumes:
      - ./data:/app/data
    blkio_config:
      device_read_iops: # 限制读取次数 (Read IOPS)
        - path: /dev/vda   # ⚠️ 必须修改为你宿主机的实际磁盘设备 (如 /dev/vda)
          rate: 200