version: '3.8'

services:
  epub-bot:
    image: jp0id/epub_bot:latest
    container_name: epub-bot
    restart: always
    ports:
      - "18088:18088"
    environment:
      - TELEGRAM_BOT_TOKEN=你的Token
      - TELEGRAM_BOT_USERNAME=你的BotName
      - TELEGRAPH_AUTHOR_NAME=EpubReader
      - APP_CHARS_PER_PAGE=4000
      - TELEGRAM_BOT_ADMINS=201728830,201728830
      - TELEGRAM_BOT_BASE=https://api.telegram.org
      - TELEGRAM_BOT_WEBAPP_URL=https://xxx.xx.com/app
    volumes:
      - ./data:/app/data